.select {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 1px solid #C2C2C2;
    width: 165px;
    padding: 2px 0 5px 10px;
    background-color: inherit;
    color: inherit;
}

.select:focus {
    background: inherit;
    color: inherit;
}


.option:hover {
    background: inherit;
    color: inherit;
}
