.container {

}

.wrapper {
    display: flex;
    align-items: center;
    gap: 12px
}

.number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
